# Run faang script every Saturday at 09:00 UTC
name: Weekly FAANG Script Run
run-name: ${{ github.actor }} created a FAANG workflow run
on: 
  schedule:
    - cron: '0 9 * * SAT' # At 09:00 on Saturdays
  workflow_dispatch:  # Allows manual run from the Actions tab
jobs:
  run_faang_script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run FAANG script
        run: |
          python faang.py  